.container {
  /* border: 1px solid red; */
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 40px;
}

.title {
  /* border: 1px solid red; */
  font-size: 40px;
  font-family: "Roboto-Regular";
  text-align: center;
  color: var(--title-color-dark-mode);
  transition: var(--transition-settings);
  margin-bottom: 20px;
}

.title.light {
  color: var(--dark-color);
}

.form_container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.form_container > img {
  width: 300px;
}

form {
  border: 2px solid var(--light-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 340px;
  padding: 30px 0;
  transition: var(--transition-settings);
}

form.light {
  border: 2px solid var(--dark-color);
}

.name_div,
.email_div,
.subject_div,
.message_div {
  /* border: 1px solid crimson; */
  position: relative;
  width: 300px;
}

.name_input,
.email_input,
.subject_input,
.message_input {
  width: 100%;
  font-family: "Nunito";
  font-size: 1.2rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  color: var(--light-color);
  background: var(--dark-color);
  border-bottom: 2px solid var(--light-color);
  transition: var(--transition-settings);
}

.message_input {
  resize: none;
  font-size: 1rem;
}

.name_input.light,
.email_input.light,
.subject_input.light,
.message_input.light {
  color: var(--dark-color);
  background: var(--light-color);
  border-bottom: 2px solid var(--dark-color);
}

.name_label,
.email_label,
.subject_label,
.message_label {
  color: gray;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(12px);
  transition: var(--transition-settings);
  font-family: "Nunito";
}

.name_label.light,
.email_label.light,
.subject_label.light,
.message_label.light {
  color: gray;
}

.name_input:focus + .name_label,
.email_input:focus + .email_label,
.subject_input:focus + .subject_label,
.message_input:focus + .message_label,
.name_input:not(:placeholder-shown) + .name_label,
.email_input:not(:placeholder-shown) + .email_label,
.subject_input:not(:placeholder-shown) + .subject_label,
.message_input:not(:placeholder-shown) + .message_label {
  transform: translateY(-12px) scale(0.8);
  transform-origin: top left;
  color: var(--light-color);
  font-weight: bold;
}

.name_input:focus + .name_label.light,
.email_input:focus + .email_label.light,
.subject_input:focus + .subject_label.light,
.message_input:focus + .message_label.light,
.name_input:not(:placeholder-shown) + .name_label.light,
.email_input:not(:placeholder-shown) + .email_label.light,
.subject_input:not(:placeholder-shown) + .subject_label.light,
.message_input:not(:placeholder-shown) + .message_label.light {
  transform: translateY(-12px) scale(0.8);
  transform-origin: top left;
  color: var(--dark-color);
  font-weight: bold;
}

.submit_button {
  width: 150px;
  height: 50px;
  background: transparent;
  color: var(--light-color);
  border: 2px solid var(--light-color);
  border-radius: 10px;
  font-family: "Nunito";
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition-settings);
}

.submit_button:hover {
  background: var(--light-color);
  color: var(--dark-color);
}

.submit_button.light {
  border: 2px solid var(--dark-color);
  color: var(--dark-color);
}

.submit_button.light:hover {
  background: var(--dark-color);
  color: var(--light-color);
}

.separador {
  /* border: 1px solid green; */
  width: 80%;
  position: relative;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.separador > hr {
  background-color: var(--light-color);
  width: 100%;
  height: 1px;
  transition: var(--transition-settings);
}

.separador.light > hr {
  background-color: var(--dark-color);
}

.separador > span {
  /* border: 1px solid red; */
  position: absolute;
  background: var(--dark-color);
  font-family: "Roboto-Regular";
  font-size: 1rem;
  padding: 0 2px;
  transition: var(--transition-settings);
}

.separador.light > span {
  background-color: var(--light-color);
}

.social {
  font-family: "Nunito";
  font-size: 1.1rem;
  transition: var(--transition-settings);
  margin-bottom: 10px;
  text-align: center;
}

.links {
  /* border: 1px solid cornflowerblue; */
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.link {
  border: 2px solid var(--light-color);
  background: transparent;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-settings);

  animation-name: pulse;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.link:hover {
  background: var(--light-color);
}

.link.light {
  border: 2px solid var(--dark-color);
}

.link.light:hover {
  background: var(--dark-color);
}

.link > img {
  width: 60%;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.1);
  }

  20% {
    transform: scale(1);
  }
}

/* Resposive design */

@media screen and (max-width: 970px) {
  .name_div,
  .email_div,
  .subject_div,
  .message_div {
    /* border: 1px solid crimson; */
    position: relative;
    width: 90%;
  }

  .form_container > img {
    width: 30%;
  }

  form {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .form_container > img {
    display: none;
  }

  form {
    width: 80%;
  }

  .links {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  form {
    width: 95%;
  }
}

@media screen and (max-width: 500px) {
  form {
    width: 100%;
  }

  .links {
    width: 100%;
  }
}
