.link {
    color: var(--light-color);
    font-family: 'Roboto-Regular';
    text-decoration: none;
    padding-bottom: 0;
    font-size: var(--desktop-navigation-font-size);
    transition: all .3s ease;   
}

.active {
    /* text-shadow: 0px 0px 2px var(--light-color); */
    font-size: calc(var(--desktop-navigation-font-size) + 1px);
    font-weight: bold;
}

.light {
    color: var(--dark-color);
}