.link {
    /* border: 1px solid green; */
    color: var(--light-color);
    font-family: 'Roboto-Regular';
    text-decoration: none;
    padding-bottom: 0;
    font-size: var(--desktop-navigation-font-size);
    transition: var(--transition-settings);
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.link:hover {
    transform: scale(1.1);
}

.active {
    transform: translateY(-1px);
    font-weight: bold;
}

.active:hover {
    transform: scale(1) translateY(-1px);
}

.light {
    color: var(--dark-color);
}

@media screen and (max-width: 829px) {
    .link {
        border-bottom: 2px solid var(--light-color);
        padding: 5px 0;
        transition: none;
        background: var(--dark-color);
    }

    .light {
        border-bottom: 2px solid var(--dark-color);
        background: var(--light-color);
    }

    .link:active {
        background: var(--light-color);
        color: var(--dark-color);
    }

    .light:active {
        background: var(--dark-color);
        color: var(--light-color);
    }
}