.switch {
    background: none;
    border: 2px solid var(--light-color);
    border-radius: 10px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 3px;
    cursor: pointer;
    transition: var(--transition-settings);
}

.switch.light{
    border: 2px solid var(--dark-color); 
}

.flags {
    /* border: 1px solid green; */
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    transition: all .3s ease;
}

.flags img {
    width: 100%;
}

.flags.english{
    transform: translateY(-41px);
}