.container {
  margin: 40px auto;
}

.projects_container {
  /* border: 1px solid violet; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.title {
  /* border: 1px solid red; */
  font-size: 40px;
  font-family: "Roboto-Regular";
  text-align: center;
  margin-bottom: 30px;
  color: var(--title-color-dark-mode);
  transition: var(--transition-settings);
}

.title.light {
  color: var(--dark-color);
}
