@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-VariableFont.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('assets/fonts/Roboto-Medium.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  /* UISettings variables*/
  /* --light-color: #F8F9FA; */
  --light-color: #eeeeee;
  --dark-color: #11151C;

  /*Desktop font size variables*/
  --desktop-title-font-size: 30px;
  --desktop-subtitle-font-size: 32px;
  --desktop-paragraph-font-size: 24px;
  --desktop-navigation-font-size: 20px;
  --desktop-captions-font-size: 16px;

  /* Desktop font weigth variables*/
  --desktop-title-font-weigth: 700;
  --desktop-subtitle-font-weigth: 600;
  --desktop-paragraph-font-weigth: 400;
  --desktop-navigation-font-weigth: 600;
  --desktop-captions-font-weigth: 400;

  --transition-settings: all .3s ease;

  /* Shadow colors*/
  --html-shadow-color: #fb8500;
  --css-shadow-color: #48cae4;
  --js-shadow-color: #ffee32;
  --react-shadow-color: #90e0ef;
  --redux-shadow-color: #c77dff;
  --node-shadow-color: #55a630;
  --express-shadow-color: #495057;
  --postgre-shadow-color: #90e0ef;
  --sequelize-shadow-color: #00b4d8;
  --git-shadow-color: #f77f00;


}

body {
  background: var(--dark-color);
  color: var(--light-color);
  transition: all .3s ease;
  overflow-x: hidden;
}

body.light {
  background: var(--light-color);
  color: var(--dark-color);
}

#app {
  /* border: 1px solid palevioletred; */
  max-width: 83%;
  margin: 0 auto;
  min-height: 100vh;
}

@media screen and (max-width: 829px){
  #app {
    max-width: 90%;    
  }
}

@media screen and (max-width: 449px) {
  #app {
    max-width: 100%;
    padding: 10px;
  }
}